@font-face {
  font-display: swap;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
}

$white: #ffffff;
$black: #000000;
$grey: #949494;
$red: #ff6155;
$blue-700: #36384d;
$blue-800: #242742;

%text-preset-1 {
  font-family: 'Roboto Bold';
  font-size: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
  line-height: 1;
}

%text-preset-2-bold {
  font-family: 'Roboto Bold';
  font-size: 1rem;
  line-height: 1.5;
}

%text-preset-2-regular {
  font-family: 'Roboto Regular';
  font-size: 1rem;
  line-height: 1.5;
}

%text-preset-3 {
  font-family: 'Roboto Bold';
  font-size: 0.75rem;
  line-height: 1.5;
}

.text-blue-800 {
  color: $blue-800;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

body,
h1,
p,
ul {
  margin: 0;
}

body {
  background-color: $blue-700;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 48rem) {
    min-height: 100dvh;
    justify-content: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  background-color: $white;

  @media (min-width: 48rem) {
    padding: 2.5rem 2.5rem;
    border-radius: 2.25rem;
  }

  @media (min-width: 90rem) {
    flex-direction: row-reverse;
    padding: 2rem 2rem;
    gap: 4rem;
  }
}

.info {
  padding: 0 1.5rem 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (min-width: 48rem) {
    padding: 0;
    align-self: stretch;
    gap: 1.5rem;
  }

  @media (min-width: 90rem) {
    align-self: center;
    gap: 2rem;
    max-width: 23.5rem;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: 90rem) {
    gap: 2rem;
  }
}

.info__title {
  @extend %text-preset-1;
}

.info__text {
  @extend %text-preset-2-regular;
}

.info__list {
  @extend %text-preset-2-regular;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  list-style-type: none;
}

.info__item {
  display: flex;
  gap: 1rem;
}

.info__item::before {
  content: url('./assets/images/icon-list.svg');
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: 48rem) {
    gap: 1rem;
  }

  @media (min-width: 90rem) {
    gap: 1.5rem;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__label {
  @extend %text-preset-3;
}

.form__input {
  padding: 1rem 1.5rem;
  border: 1px solid $grey;
  border-radius: 0.5rem;
  @extend %text-preset-2-regular;
}

.form__button {
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: $blue-800;
  border: none;
  @extend %text-preset-2-bold;
  color: $white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
